<!-- Footer -->
    <footer class="footer section mt-5">

        <div class="footer-container-container-d-grid">
                <p style="color:#772953"class="copyright-notice">&copy;2023 KBC AFFAIRES. Réalisé par Hervé Kilanda.</p>
            </div>

            <div>
                <h6 class="footer-titre">Categories</h6>
                
                <ul class="footer-list-list">
                    <li class="list-item">
                        <a href="{{path('app_contact')}}" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="https://github.com/HerveKilanda" class="list-link">Github</a>
                    </li>
                </ul>

            </div>

      

        </div>
        
    </footer>